backend/headlamp-server
backend/headlamp-server.exe
backend/tools
app/electron/src/*
docs/development/storybook/
.plugins
node_modules
.idea/
plugins/headlamp-plugin/headlamp-myfancy/
plugins/examples/*/dist/
