@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

[data-md-color-scheme="slate"] {
  --md-default-fg-color--light:        white;
  --md-default-bg-color:        #303030;
}

[data-md-color-scheme="default"] {
  --md-text-font-family: 'Overpass';
}

.md-header {
  background-color: black;
}

@media screen and (max-width: 76.1875em) {
  .md-nav--primary .md-nav__title[for=__drawer] {
    background-color: black;
  }
}

.md-search__form {
  background-color: rgba(255,255,255,.26);
}

.md-typeset h1 {
  color: var(--md-default-fg-color);
}

.md-nav {
  font-size: .8rem;
}
